@model Master_pice.ViewModel.ResetPasswordViewModelAfterLogin

@{
    ViewData["Title"] = "ResetPasswordAfterLogin";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<style>
    .row {
        margin-right: -15px;
        margin-left: -15px;
        left: -18%;
        position: relative;
    }
    .form-gap {
        padding-top: 70px;
    }

    .form-group:hover {
        background-color: #743a43;
    }

    .input-group input {
        border: 1px solid #d35266;
    }



    .navbar .icons {
        display: flex;
        align-items: center;
        position: relative;
        right: -12% !important;
    }

    .navbar .logo {
        font-size: 24px;
        position: relative;
        font-weight: bold;
        left: -11%;
    }
</style>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- Sidebar -->
<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            @* <h5 class="card-title">Profile</h5> *@
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-action="Profile" asp-controller="Authintication" style="color:#b43e57;font-size:20px;" class="text-decoration-none">Account Information</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="MyOrders" asp-controller="Authintication" style="color:#b43e57;font-size:20px;" class="text-decoration-none">My Orders</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="MyWishList" asp-controller="User" style="color:#b43e57;font-size:20px;" class="text-decoration-none">My Wish List</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="EditProfile" asp-controller="Authintication" style="color:#b43e57;font-size:20px;" class="text-decoration-none">Edit Profile</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="ResetPasswordAfterLogin" asp-controller="Authintication" style="color:#b43e57;font-size:20px;" class="text-decoration-none">Reset Password</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="form-gap"></div>

<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Reset Password</h2>
                        <p>Enter your old and new password below.</p>
                        <div class="panel-body">

                            <form asp-action="ResetPasswordAfterLogin" asp-controller="Authintication" method="post" role="form" autocomplete="off" class="form">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                        <input asp-for="OldPassword" placeholder="Old Password" class="form-control" type="password" />
                                    </div>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                        <input asp-for="NewPassword" placeholder="New Password" class="form-control" type="password" />
                                    </div>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                        <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" type="password" />
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input style="background-color:#d35266;" class="btn btn-lg btn-primary btn-block" value="Update Password" type="submit">
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        var success = document.getElementById('successMessage');
        var error = document.getElementById('errorMessage');
        if (success) {
            success.classList.remove('show');
            success.classList.add('hide');
        }
        if (error) {
            error.classList.remove('show');
            error.classList.add('hide');
        }
    }, 3000); // 3000 ميلي ثانية = 3 ثواني
</script>