@model Master_pice.ViewModel.ContactMessageViewModel

@{
    ViewData["Title"] = "ContactUs";
}

@section StylesContact {
    <link rel="stylesheet" href="~/css/Contact.css" />
}

<section>
    <div class="container">
        <div class="contactinfo">
            <div>
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span>
                            <img src="https://www.clipartmax.com/png/middle/121-1214856_pro-locator-free-location-icon-vector.png" />
                        </span>
                        <span>
                            1 John Smith Street <br />
                            Smithville <br />
                            Smithland
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="https://p7.hiclipart.com/preview/663/97/225/email-computer-icons-message-bounce-address-email-icon.jpg" />
                        </span>
                        <span>
                            johnsmith@johnsmith.com
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="https://www.pinclipart.com/picdir/middle/210-2108807_tete-mobile-svg-png-icon-free-download-phone.png" />
                        </span>
                        <span>
                            01234567890
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="contactusform">
            <h2>Send Us A Message</h2>

            <form asp-action="SendMessage" asp-controller="Home" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input asp-for="FirstName" required />
                        <span>First Name</span>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="inputBox w50">
                        <input asp-for="LastName" required />
                        <span>Last Name</span>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="inputBox w50">
                        <input asp-for="Email" required />
                        <span>Email Address</span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="inputBox w100">
                        <textarea asp-for="Message" required></textarea>
                        <span>Please enter a message</span>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="inputBox w50">
                        <input type="submit" value="Send" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
