
@{
    ViewData["Title"] = "ContactUs";
}

@section StylesContact {
    <link rel="stylesheet" href="~/css/Contact.css" />
}

<div id="navbar"></div>
<script>
    fetch('navbar.html')
     .then(response => response.text())
     .then(data => {
         document.getElementById('navbar').innerHTML = data;

         // إعادة تفعيل زر الـ Burger Menu
         const menuToggle = document.querySelector('.menu-toggle');
         const menu = document.querySelector('.menu');
         if (menuToggle) {
             menuToggle.addEventListener('click', () => {
                 menu.classList.toggle('active');
             });
         }
     });
</script>
<section>
    <div class="container">
        <div class="contactinfo">
            <div>
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span>
                            <img src="https://www.clipartmax.com/png/middle/121-1214856_pro-locator-free-location-icon-vector.png" />
                        </span>
                        <span>
                            1 John Smith Street <br />
                            Smithville <br />
                            Smithland
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="https://p7.hiclipart.com/preview/663/97/225/email-computer-icons-message-bounce-address-email-icon.jpg" />
                        </span>
                        <span>
                            johnsmith@johnsmith.com
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="https://www.pinclipart.com/picdir/middle/210-2108807_tete-mobile-svg-png-icon-free-download-phone.png" />
                        </span>
                        <span>
                            01234567890
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contactusform">
            <h2>Send Us A Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w100">
                    <textarea name="" required></textarea>
                    <span>Please enter a message</span>
                </div>
                <div class="inputBox w50">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</section>


<div id="footer-container"></div>
<script>
    // Load footer using JavaScript
    fetch('footer.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('footer-container').innerHTML = data;
      });
</script>